<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <!-- javaScripts
================================================== -->
    <script src="assets/js/uikit.js" th:src="@{/resources/assets/main/js/uikit.js}"></script>
    <script src="assets/js/simplebar.js" th:src="@{/resources/assets/main/js/simplebar.js}"></script>

    <script type="text/javascript" src="assets/js/jquery-1.12.3.js"
            th:src="@{/resources/assets/main/js/jquery-1.12.3.js}"></script>
    <script type="text/javascript" src="assets/js/jquery.dataTables.min.js"
            th:src="@{/resources/assets/main/js/jquery.dataTables.min.js}"></script>
    <link rel="stylesheet" href="assets/css/style.css" th:href="@{/resources/assets/main/css/style.css}">
    <script>
        $(document).ready(function () {
            $('#MyTable').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                //to select and search from grid
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });
        });
    </script>
    <!-- Basic Page Needs
   ================================================== -->
    <title>Operation Records</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="assets/images/favicon.png" th:href="@{/resources/assets/main/images/favicon.png}">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/style.css" th:href="@{/resources/assets/main/css/style.css}">
    <link rel="stylesheet" href="assets/css/uikit.css" th:href="@{/resources/assets/main/css/uikit.css}">
    <link rel="stylesheet" href="assets/css/uikit.css" th:href="@{/resources/assets/main/css/uikit.css}">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="assets/css/icons.css" th:href="@{/resources/assets/main/css/icons.css}">
    <script th:src="@{https://kit.fontawesome.com/815e388c50.js}" crossorigin="anonymous"></script>

    <!-- Google font
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- sidebar -->
    <div class="main_sidebar">
        <div class="side-overlay" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></div>

        <!-- sidebar header -->
        <div class="sidebar-header">
            <!-- Logo-->
            <div id="logo">
                <a href="home"> <img src="assets/images/logo-light.png"
                                     th:src="@{/resources/assets/main/images/logo-light.png}" alt=""></a>
            </div>
            <span class="btn-close" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></span>
        </div>

        <!-- sidebar Menu -->
        <div class="sidebar">
            <div class="sidebar_innr" data-simplebar>

                <div class="sections">
                    <ul>
                        <li class="sl_side_post_fltr">
                            <a href="inventory">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="#047cac" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                                </svg>
                                库存 </a>
                        </li>
                        <li>
                            <a href="addItem">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="#009688"
                                          d="M21,9A1,1 0 0,1 22,10A1,1 0 0,1 21,11H16.53L16.4,12.21L14.2,17.15C14,17.65 13.47,18 12.86,18H8.5C7.7,18 7,17.27 7,16.5V10C7,9.61 7.16,9.26 7.43,9L11.63,4.1L12.4,4.84C12.6,5.03 12.72,5.29 12.72,5.58L12.69,5.8L11,9H21M2,18V10H5V18H2Z">
                                    </path>
                                </svg>
                                进货 </a>
                        </li>


                        <li class="active">
                            <a href="records">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="#8d73cc"
                                          d="M20 22H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1zm-1-2V4H5v16h14zM7 6h4v4H7V6zm0 6h10v2H7v-2zm0 4h10v2H7v-2zm6-9h4v2h-4V7z">
                                    </path>
                                </svg>
                                操作记录 </a>
                        </li>
                        <li>
                            <a href="report">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="#f25e4e"
                                          d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z">
                                    </path>
                                </svg>
                                流水报告 </a>
                        </li>
                        <li>
                            <a href="settings">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="#03A9F4"
                                          d="M16.5,9L13.5,12L16.5,15H22V9M9,16.5V22H15V16.5L12,13.5M7.5,9H2V15H7.5L10.5,12M15,7.5V2H9V7.5L12,10.5L15,7.5Z">
                                    </path>
                                </svg>
                                设置 </a>
                        </li>

                    </ul>

                </div>


            </div>


        </div>

    </div>

    <!-- contents -->
    <div class="main_content">

        <!-- header -->
        <div id="main_header">
            <header>
                <div class="header-innr">

                    <!-- Logo-->
                    <div class="header-btn-traiger is-hidden"
                         uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible">
                        <span></span></div>

                    <!-- form search-->
                    <div class="head_search">
                        <form>
                            <div class="head_search_cont">
                            </div>

                            <!-- Search box dropdown -->
                            <div uk-dropdown="pos: top;mode:click;animation: uk-animation-slide-bottom-small"
                                 class="dropdown-search display-hidden">
                            </div>
                        </form>
                    </div>

                    <!-- user icons -->
                    <div class="head_user">
                        <a class="opts_account" href="logout"> <i class="fa fa-sign-out fa-2x"
                                                                  aria-hidden="true"></i></a>
                    </div>

                </div> <!-- / heaader-innr -->
            </header>

        </div>

        <div class="main_content_inner">
            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Price</th>
                    <th>SkuID</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Type</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="record: ${records}" th:colspan="10">
                    <td th:text="${record.id}">Record ID</td>
                    <td th:text="${record.price}">Price</td>
                    <td th:text="${record.skuId}">SkuID</td>
                    <td th:text="${record.amount}">Amount</td>
                    <td th:text="${record.dateTime}">Time</td>
                    <td th:text="${record.type}">Type</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>